.idea
env
__pycache__
local.py
docs/_build
*.pyc
.DS_Store
logs/*.log
parsetab.py
parser.out
.coverage
output
.pytest_cache/
.vscode/
*/.ipynb_checkpoints/
venv
file_storage/*
!file_storage/.gitkeep
models/*
!models/.gitkeep
output/*
lib
